footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
footer span {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;  
}
